node_modules/
.env
.exmaple.env
/build
client/

# Ignore Python virtual environment
./aiGenerate/venv/
venv/
./aiGenerate/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore model cache (PyTorch & Hugging Face)
~/.cache/
~/.torch/
~/.huggingface/

# Ignore large files
*.ckpt
*.pth
*.onnx
